*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea/
/.vscode
.env
.vscode/settings.json
app/build/
app/bin/
*.apk
*.aar
*.ap_
*.dex
gen/
proguard/
*.log
.navigation/
captures/
*.jks
*.keystore
!gradle-wrapper.jar
!gradle-wrapper.properties
# release / debug files